.dropdown-h100-scroll{
  max-height: 190px;
  overflow: auto;
}

.dropdown-h100-scroll::-webkit-scrollbar {
  width: 9px;
  display: block;
}

.dropdown-h100-scroll::-webkit-scrollbar-thumb {
  background-color: #515e70;
  border-radius: 25px;
  height: 35%;
}
.bg-secondary1 {
  background-color: #334154!important;
  box-shadow: 6px 5px 5px 0px #212529;
}