.dropdown-h100-scroll{
  max-height: 220px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #334154;
  border-radius: 25px;
  height: 35%;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #212529; 
  border-radius: 25px;
}