
  .Buildbg{
    background-color: transparent;
    border-color: #007bff !important;
    color: #007bff;
    padding: .5rem 3rem !important;
  }
  .buildBlue{
   background-color: #007bff!important;
   border-color: transparent;
   color: #fff;
   padding: .5rem 3rem;
  }
  .Buildbg:hover{
    background-color: #007bff !important;
    border-color: transparent;
    color: #fff !important;
    padding: .5rem 3rem;
   }
  
  .Buildbg:focus{
   box-shadow: none;
  }
  .bg{
    background-color: #232D3B;
    color: #fff;
    border-radius: 10px;
  }
  .tablehead{
    background-color: #1D2632;
    color:#85888E;
    padding-top: 1rem;
  }
  
    .bgblue{
      background-color: #007bff!important;
      border-color: transparent;
      color: #333;
      padding: .5rem 3rem;
     }
  
  .tablerow{
   background-color: #334154;
   border-bottom: 1px solid #38475B;
   padding-top: 1rem;
  }
  
  .w-23{
    width: 23%;
  }
  .w-18{
    width: 18%;
  }
  .card-height{
    max-height: 423px;
  }
  .w-40{
    width: 40%;
    }