

.library_text{
  font-family: Helvetica;
  font-size: 18;
  font-weight: normal;
  fill: rgb(255, 255, 255);
}
.library_rounde{
font-family: Helvetica;
  font-size: 13;
  padding: 10px;
  font-weight: normal;
  fill: rgb(167, 174, 183);
}
.rounde{
  border-radius: 25px;
  border: 2px solid #334154;
  padding: 20px;
  text-align: left;
  background-color: #334154;
 }
 .bg{
   background-color: #232D3B;
   color: #fff;
   border-radius: 10px;
 }
 .iconend{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 0px;
 }
 .borderadius{
  background-color: #232D3B!important;
  border-radius: 10px!important;
 
 }
 .tabhead{
   background-color: #1D2632;
   color:#85888E;
   padding-top: 1rem;
 }
 .tabrow{
  background-color: #334154;
  border-bottom: 1px solid #38475B;
  padding-top: 1rem;
 }
 /* Alert button */
 .Alertbg{
  background-color: #1D2632!important;
  border-color: #364D68!important;
  color: #fff;
  padding: .5rem 3rem;
}
.bgblue{
 background-color: #4A90E2!important;
 border-color: transparent;
 color: #333;
 padding: .5rem 3rem;
}

.Alertbg:hover{
  background-color: #1D2632!important;
  border-color: transparent;
  color: #fff!important;
  padding: .5rem 3rem;
 }

.Alertbg:focus{
 box-shadow: none;
}
 .tabpadding{
  padding: 10px 0px!important;
 }
.text-centr{
  text-align: center;
  padding-right: 3rem!important;
}

/* legend color */
.highbg{
  color: #B65355;
  margin-right: 1rem;
}
.mediumbg{
  color: #C0792A;
  margin-right: 1rem;
}
.lowbg{
  color: #C2B12C;
  margin-right: 1rem;
}
.w-45{
width: 45%;
}
.w-23{
  width: 23%;
}
.w-10{
  width: 10%;
}
.w-40{
  width: 40%;
}
.w-200{
  width: 200px;
  background-color: transparent;
}
.w-8{
  width: 8%;
}
.card-height{
  max-height: 423px;
}
.policy-height{
  height: 180px;
}
